@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 1rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.145 0.003 243.8051877118497);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.145 0.003 243.8051877118497);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.145 0.003 243.8051877118497);
  --primary: oklch(0.584 0.157 250.75862009684295);
  --primary-foreground: oklch(0.961 0.002 244.11692811384864);
  --secondary: oklch(0.871 0.048 242.94961091134758);
  --secondary-foreground: oklch(0.214 0.018 243.43641040528513);
  --muted: oklch(0.871 0.048 242.94961091134758);
  --muted-foreground: oklch(0.551 0.065 244.02494267695127);
  --accent: oklch(0.904 0.009 258.33681806186956);
  --accent-foreground: oklch(0.203 0.034 258.2763252327412);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.839 0.061 243.20593017051868);
  --input: oklch(0.839 0.061 243.20593017051868);
  --ring: oklch(0.584 0.157 250.75862009684295);
  --chart-1: oklch(0.584 0.157 250.75862009684295);
  --chart-2: oklch(0.679 0.125 247.26135536032945);
  --chart-3: oklch(0.756 0.081 245.55278769222042);
  --chart-4: oklch(0.429 0.119 251.21119592910887);
  --chart-5: oklch(0.327 0.086 250.36716227607155);
  --sidebar: oklch(0.871 0.048 242.94961091134758);
  --sidebar-foreground: oklch(0.214 0.018 243.43641040528513);
  --sidebar-primary: oklch(0.584 0.157 250.75862009684295);
  --sidebar-primary-foreground: oklch(0.961 0.002 244.11692811384864);
  --sidebar-accent: oklch(0.904 0.009 258.33681806186956);
  --sidebar-accent-foreground: oklch(0.203 0.034 258.2763252327412);
  --sidebar-border: oklch(0.839 0.061 243.20593017051868);
  --sidebar-ring: oklch(0.584 0.157 250.75862009684295);
}

.dark {
  --background: oklch(0.191 0.015 245.13331954963996);
  --foreground: oklch(0.961 0.002 244.11692811384864);
  --card: oklch(0.235 0.022 245.32037136795697);
  --card-foreground: oklch(0.961 0.002 244.11692811384864);
  --popover: oklch(0.235 0.022 245.32037136795697);
  --popover-foreground: oklch(0.961 0.002 244.11692811384864);
  --primary: oklch(0.618 0.142 248.86947500536448);
  --primary-foreground: oklch(0.961 0.002 244.11692811384864);
  --secondary: oklch(0.272 0.056 246.63056327668144);
  --secondary-foreground: oklch(0.961 0.006 242.28218349626877);
  --muted: oklch(0.272 0.056 246.63056327668144);
  --muted-foreground: oklch(0.721 0.024 242.6405863556942);
  --accent: oklch(0.660 0.053 258.3559428311488);
  --accent-foreground: oklch(0.956 0.012 258.3411043453467);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.378 0.090 248.08800160758062);
  --input: oklch(0.378 0.090 248.08800160758062);
  --ring: oklch(0.618 0.142 248.86947500536448);
  --chart-1: oklch(0.618 0.142 248.86947500536448);
  --chart-2: oklch(0.718 0.124 246.94080143574152);
  --chart-3: oklch(0.796 0.094 245.745845070693);
  --chart-4: oklch(0.467 0.108 248.90217247558397);
  --chart-5: oklch(0.368 0.065 247.07252251895574);
  --sidebar: oklch(0.317 0.034 245.52995619694514);
  --sidebar-foreground: oklch(0.961 0.002 244.11692811384864);
  --sidebar-primary: oklch(0.618 0.142 248.86947500536448);
  --sidebar-primary-foreground: oklch(0.961 0.002 244.11692811384864);
  --sidebar-accent: oklch(0.660 0.053 258.3559428311488);
  --sidebar-accent-foreground: oklch(0.956 0.012 258.3411043453467);
  --sidebar-border: oklch(0.366 0.030 245.1499915247374);
  --sidebar-ring: oklch(0.618 0.142 248.86947500536448);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}